@media screen and (max-width: 800px) {
    .nav-main {
        flex-direction: column;
        align-items: center;
    }

    .nav-main>div {
        margin-top: 20px;
    }
    .half-price{
        left: 20%;
    }
}

@media screen and (max-width: 500px) {
    .hamburger {
        display: block;
    }

    .nav-btn-container {
        display: none;
    }

    .nav-main {
        flex-direction: row;
    }

    .banner-main {
        flex-direction: column;
    }

    .banner-childs {
        width: 100%;
    }
}